#particles-js{
    background-image:linear-gradient(to right,brown,#ff3333);
}
.btext
{
    color:#ff8c1a;
    box-shadow:0 0 2em rgba(0,0,0,0.2); 
    padding:40px;
    font-family: "Comic Sans MS";
}
textarea{
    background:rgba(255,255,255,0.1);
    padding:100px;
    position:fixed; 
    margin-left:500px;
    margin-top:50px;
    box-shadow:0 0 1.2em rgba(0,0,0,0.3);  
    overflow: hidden; 
}
.btn{
    margin-left:800px;
    margin-top:350px;
    box-shadow:0 0 1em rgba(0,0,0,0.2); 
    text-align: center;
    position:fixed;

}
input
{
    margin-left:550px; 
    margin-top:350px;
    background:rgba(0,0,0,0.1);
    position:fixed;
    color:white;
    font-weight:1.5em;
}
